@using AlasdairCooper.Reference.Components.Utilities

@page "/alerts"

<div style="display: grid; gap: 1rem;">
    <Alert>
        This is the default alert.
    </Alert>

    <Alert Level="AlertLevel.Info">
        This is an info alert.
    </Alert>

    <Alert Level="AlertLevel.Warning">
        This is a warning alert.
    </Alert>

    <Alert Level="AlertLevel.Success">
        This is a success alert.
    </Alert>

    <Alert Level="AlertLevel.Error">
        This is an error alert.
    </Alert>
</div>
