@using AlasdairCooper.Reference.Components.Buttons

@page "/buttons"

<div style="display: flex; flex-wrap: wrap; gap: 1rem">
    <Button Href="/buttons">Link</Button>
    <Button OnClick="_onClick">
        Button
    </Button>
    <Button
        OnClick="_onClick"
        IsDisabled="true">
        Disabled Button
    </Button>
    <Button OnClick="_onClick">
        Button
    </Button>
    <Button
        OnClick="_onClick"
        IsDisabled="true">
        Disabled Button
    </Button>
</div>


@code {

    private readonly Action _onClick = () => { };
}