@inherits AlasdairCooper.Reference.Components.Dialog.DialogComponentBase

<dialog>
    <button @onclick="Close">X</button>
    This is an empty dialog.
    <button @onclick="Close">OK</button>
</dialog>