<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <config>
        <add key="globalPackagesFolder" value="./artifacts/nuget/packages" />
    </config>
    <packageSources>
        <clear />
        <add key="efcore-local" value="./lib/efcore/artifacts/packages/Release/Shipping" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceMapping>
        <clear />
        <packageSource key="efcore-local">
            <package pattern="Microsoft.EntityFrameworkCore" />
            <package pattern="Microsoft.EntityFrameworkCore.*" />
            <package pattern="dotnet-ef" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
