@inherits DefaultComponentBase

@code {

    private RenderFragment TitleFragment =>
        @<span>@Title</span>;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? HeaderContent { get => field ?? TitleFragment; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [CascadingParameter]
    public Tabs? Tabs { get; set; }
    
    [Parameter]
    public string? HeaderId { get; set; }
    
    [Parameter]
    public string? HeaderClass { get; set; }
    
    [Parameter]
    public string? HeaderStyle { get; set; }
    
    [Parameter]
    public Dictionary<string, object?>? HeaderAdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        if (Tabs is null)
        {
            throw new InvalidOperationException($"{nameof(Tab)} must be used within a {nameof(AlasdairCooper.Reference.Components.Tabs.Tabs)} component.");
        }

        Tabs.RegisterTab(this);
    }

}