@using AlasdairCooper.Reference.Components.Utilities

@inherits DefaultComponentBase

@implements IDisposable

@code {

    private RenderFragment TitleFragment =>
        @<span>@Title</span>;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? HeaderContent { get => field ?? TitleFragment; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [CascadingParameter]
    public Tabs? Tabs { get; set; }

    [Parameter]
    public string? HeaderId { get; set; }

    [Parameter]
    public string? HeaderClass { get; set; }

    [Parameter]
    public string? HeaderStyle { get; set; }

    [Parameter]
    public Dictionary<string, object?>? HeaderAdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        RequiredCascadingParameterException.ThrowIfNull(Tabs);
        Tabs.RegisterTab(this);
    }

    public void Dispose()
    {
        RequiredCascadingParameterException.ThrowIfNull(Tabs);
        Tabs.DeregisterTab(this);
    }
}
