@using AlasdairCooper.Reference.BlazorPlayground.Utilities
@using Humanizer
@using AlasdairCooper.Reference.Components.Inputs
@using AlasdairCooper.Reference.Components.Dialog
@using AlasdairCooper.Reference.Components.Utilities

@inherits LayoutComponentBase

<DialogRenderer />

<nav style="display: flex; gap: 1rem; align-items: center;">
    @foreach (var route in _pageRoutes)
    {
        <NavLink
            style="display: inline-block; text-box-edge: cap alphabetic; text-box-trim: trim-both;"
            href="@route"
            Match="NavLinkMatch.All">
            @route.Titleize()
        </NavLink>
    }
    <Spacer />
    <ThemeSelect />
</nav>

<hr />

@Body

<div
    id="blazor-error-ui"
    data-nosnippet>
    An unhandled error has occurred.
    <a
        href="."
        class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private readonly IEnumerable<string> _pageRoutes;

    public MainLayout(PageService pageService)
    {
        _pageRoutes = pageService.ListPageRoutes().Order();
    }

}