@using AlasdairCooper.Reference.Orchestration.Shared.Api

@page "/promotions"

@code { public static string Url() => "/promotions"; }

<PageTitle>Promotions</PageTitle>

<h1>Promotions</h1>

<Table
    DataProvider="async () => (await _client.ListPromotionsAsync(), 100)"
    T="PromotionDto">
    <Column
        Title="Name"
        Property="x => x.DisplayName" />
    <Column Title="Period">
        <CellContent>
            @context.StartDate - @context.EndDate
        </CellContent>
    </Column>
    <Column Title="Media">
        <CellContent>
            @context.MediaUrls.Length
        </CellContent>
    </Column>
</Table>

@code {

    private readonly ApiClient _client;

    public Promotions(ApiClient client) => _client = client;

}
