@using AlasdairCooper.Reference.Shared.Api

@page "/promotions"

@code { public static string Url() => "/promotions"; }

<PageTitle>Promotions</PageTitle>

<h1>Promotions</h1>

<Table
    State="new object()"
    DataProvider="async Task<(IEnumerable<PromotionDto>, int)> (_) => (await _client.ListPromotionsAsync(), 100)">
    <Column
        Title="Name"
        Property="x => x.DisplayName" />
    <Column Title="Period">
        <CellContent>
            @context.Item.StartDate - @context.Item.EndDate
        </CellContent>
    </Column>
    <Column Title="Media">
        <CellContent>
            @context.Item.MediaUrls.Length
        </CellContent>
    </Column>
</Table>

@code {

    private readonly ApiClient _client;

    public Promotions(ApiClient client) => _client = client;

}
