div {
    --_color: var(attr(data-level));
    color: var(--_color, var(--key-default));
    background-color: hsl(from currentColor h s 90 / 0.3);
    padding: 1rem;
    border: 0.125rem solid var(--_color, var(--key-default));
    box-shadow: --box-shadow(var(--shade-depth),  var(--_color, var(--key-default)));
    border-radius: 0.5rem;
    transition: box-shadow 200ms ease-in-out, translate 200ms ease-in-out;
}

div[data-level="info"] {
    --_color: var(--key-info);
}

div[data-level="warning"] {
    --_color: var(--key-warning);
}

div[data-level="error"] {
    --_color: var(--key-error);
}

div[data-level="success"] {
    --_color: var(--key-success);
}